* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    color: #fff;
    background-color: rgb(64, 60, 63);
    padding: 0.5rem;
}

.logger {
    text-align: center;
    border: 1px solid lightslategrey;
}

.logger h3 {
    font-size: 20px;
    margin: 2px;
}

.logger div {
    padding: 4px;
}

body {
    height:100%;
    background-color: #141D2121;
    padding: 0;
    margin: 0;
}

body, .footer {
    font: 1.1em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

.footer {
    margin-top: 1rem;
    padding: 1rem;
    color: #fff;
    background-color: rgb(64, 60, 63);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}